* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --font-weight-regular: 500;
    --transform-center: translate(-50%);
    --font-size-regular: 2rem;
    --font-size-small: 1rem;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("./images/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* time and date */

#current-time, #current-date {
    position: absolute;
    left: 50%;
    transform: var(--transform-center);
    color: white;
    letter-spacing: 3px;
}

#current-time {
    top: 30%;
    font-size: 9rem;
    font-weight: var(--font-weight-regular);
}

#current-date {
    top: 28%;
    font-size: var(--font-size-regular);
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* greeting */

#greeting-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--transform-center);
    text-align: center;
    white-space: nowrap;
}

#greeting, #period {
    color: white;
    font-size: 3rem;
    font-weight: var(--font-weight-regular)
}

.submit-btn, #submit-btn-quote {
    display: none;
}

#name, #goal-input {
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
    border-bottom: 3px white solid;
    cursor: auto;
    caret-color: whitesmoke;
    color: white;
    padding: 0;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
}

#name {
    font-size: 3rem;
    font-weight: var(--font-weight-regular);
    width: 12rem;
}

#name:focus, #goal-input:focus {
    outline: none;
}

/* main goal */

#goal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: var(--transform-center);
    text-align: center;
    white-space: nowrap;
}

#goal-title {
    color: white;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

#goal-input {
    width: 35rem;
    font-size: var(--font-size-regular);
    text-align: center;
}

/* quote */
#quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: var(--transform-center);
    width: 70%;
    text-align: center;
    color: white;
    font-size: var(--font-size-small);
}

#addQuote-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-size: 1.2rem;
}

#addQuote-btn:hover, #myBtn:hover {
    color: black;
}

.modal-quote {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 10px;
    bottom: 10px;
    display: flex;
}

/* tasks */
.tasks, .form-quote {
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.tasks-show {
    display: block;
}

#myBtn, #addQuote-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

h2 {
    color: white;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

i {
    margin-left: 5px;
}

.row, #myOwnQuote {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#task-input, #quoteInput {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    padding: 10px 0;
    font-size: var(--font-size-small);
}

#task-list {
    color: white;
    cursor: pointer;
    word-break: break-all;
}

.disabled {
    display: flex;
    text-decoration: line-through;
}


.modal-tasks {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}



/* media queries */

@media screen and (max-width: 768px) {
    #current-time {
        font-size: 6rem;
    }

    #current-date, #goal-title, #goal-input {
        font-size: 1.5rem;

    }
    #goal-input {
        width: 25rem;
    }

    #greeting, #period, #name {
        font-size: var(--font-size-regular);
    }

    #name {
        width: 8rem;
    }

    #quote {
        font-size: 12px;
    }

    #myBtn, #addQuote-btn {
        font-size: var(--font-size-small);
    }


}

@media screen and (max-width: 480px) {
    #current-time {
        font-size: 5rem;
    }

    #current-date, #goal-title, #goal-input {
        font-size: var(--font-size-small);
    }


    #goal-input {
        width: 17rem;
    }

    #greeting, #period, #name {
        font-size: 1.5rem;
    }

    #name {
        width: 5rem;
    }

    #quote {
        font-size: 12px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: var(--transform-center);
        width: 70%;
    }

    .task-item {
        font-size: 0.75rem;
    }
    
}